@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Poppins|Sanchez|Homemade+Apple')

url-img-prog = "../image/programming.jpg"
//font-family: 'Poppins', sans-serif;
//font-family: 'Nanum Gothic', sans-serif;
