@import "./_link.styl"
@import "./_first.styl"
@import "./_variables.styl"
@import "./_mixinAndFunction.styl"

// body *
//   border: red solid 0.5px
//   margin: 3px

.firstBlock
  background-image: url(../image/programming.jpg)
  background-size: cover

.containerHeader
  width: 100%
  position: fixed
  transition: 0.5s

.backgroundScroll
  background: black
  z-index: 1

.header
  background: transparent
  position: relative
  height: 80px

.containerMainTitle
  // border: red solid 1px
  display: inline-block
  font-family: classic-font
  font-size: 30px
  color: white
  margin: 0
  position: absolute
  left: 40px
  top: 20px
  a
    text-decoration: none
    color: white

.mainMenuOption
  // border: red solid 1px
  display: inline-block
  position: absolute
  right: 50px
  top: 30px
  .dad-list
    margin: 0
    display: block
    .item
      font-size: 20px
      cursor: pointer
      display: inline-block
      margin-top: 0
      padding-left: 50px
      color: white
      &::after
        content: "V"

.buffer
  height: 65vh
  padding-top: 80px
  .containerNews
    color: black
    border: black solid 1px
    middle(80%)
    margin-top: 20px
    margin-bottom: 20px
    height: 60vh
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(4, 1fr)
    grid-column-gap: 5px
    grid-row-gap: 5px
    grid-template-areas: "alertas titleNews titleNews " "alertas news news" "alertas news news" "alertas news news"
    .alertas
      grid-area: alertas
    .titleNews
      grid-area: titleNews
    .news
      grid-area: news
    .column
      background: rgba(255,255,255,0.5)
      height: 100%



.contentBody
  .secondTitle
    display: block
    font-family: classic-font
    font-size: 35px
    margin: 20px 0
    text-align: center
  .linkSelf
    text-decoration: none
    color: black
    cursor: pointer



.containerTema
  max-width: 80vw
  text-align: center
  margin: 0 auto
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  .tema
    display: inline-block
    margin: 0
    padding: 0
    position: relative
    margin: auto
    .titleImage
      font-size: 20px
      text-align: center
      border-top: black dashed 1px
      padding-bottom: 10px

    img
      border-radius: 20px 0
      overflow: auto
      border: black solid 1px
      border-bottom: none
      transition: 0.8s opacity , 1s transform
      mixin-16-9(17vw)
      margin: 0
    .descriptionImage
      background: white
      transition: 0.8s opacity , 1s transform
      mixin-16-9(17vw)
      position: absolute
      top: 0
      border: gray outset 2px
      border-radius: 20px 0
      overflow: auto
      color: red
      transform: rotateY(180deg)
      opacity: 0
      z-index: 0
      text-align: center
    &:hover
      img
        transform: rotateY(180deg)
        opacity: 0
        cursor: pointer
    &:hover
      .descriptionImage
        transform: rotateY(0deg)
        opacity: 1
        cursor: pointer

.descriptionImage
  margin: auto
  text-align: center

  .subHead
    font-family: 'Poppins', sans-serif
    text-align: center
    color: black
    font-size: 17px
  .subBody
    font-family: 'Nanum Gothic', sans-serif
    text-align: center
    font-size: 11px
    color: black
    width: 90%
    margin: auto


.btn
  margin: 20px auto
  display: inline-block
  border: black solid 0.5px
  border-radius: 7px
  padding: 3px 12px
  background-color: #E2BE66









.footer
  background: black
  color: white
  position: relative
  display: block
  text-align: center

.aboutIng
 text-align: center
 font-size: 18px
 display: inline-block
 .nameIng
   display: inline-block
   margin: 30px auto 10px auto
 .linkMailIng
   text-decoration: none
   color: white
   display: block
   strong
     margin-right: 20px
     display: inline-block
   span
     margin-left: 20px
     display: inline-block
     color: bestBlue

.aboutMaker
  display: inline-block
  position: absolute
  bottom: 0
  right: 0
  // overflow: hidden
  .containerLinkMaker
    position: relative
    transition: 1s
    .linkMaker
      transition: 1s
      position: relative
      text-decoration: none
      .maker
        font-size: 16px
        color: white
        margin-right: 10px
      .nameMaker
        font-size: 18px
        color: bestBlue
