color-nav = #3A3B3D
color-nav-hover = #0073AA


best-blue = #0E699E

gray1 = #b5b4bb
gray2 = #9e9da2
gray3 = #8e8b90
gray4 = #7a777d
gray5 = #636065


font-nav = 18px

font-title = 50px
font-big = 36px
font-medium = 20px
font-small = 16px
